@model Post

<a asp-controller="Post" asp-action="Details" asp-route-id="@Model.PostId" class="post-card-link"
    style="text-decoration:none">
    <div class="horizontal-card">

        <div class="horizontal-resim">
            <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid">
        </div>
        <div class="horizontal-yazi">
            <a type="submit" asp-action="Delete" asp-route-id="@Model.PostId" method="post" class="delete-btn"
                style="text-decoration=none; position:absolute; top:10px; right:10px;">
                &times; <!-- X icon for delete -->
            </a>
            <h5>@Model.Title</h5>
            <p>@Model.Description</p>
            <div class="horizontal-info">
                <div class="horizontal-date">
                    <i class="icon calendar"></i> @Model.CreatedDate
                </div>
                <div class="horizontal-likes">
                    <i class="icon heart"></i> @Model.LikeCount likes
                </div>
            </div>
            <div class="horizontal-buttons">
                <form asp-action="AddLike" method="post">
                        <input type="hidden" name="postId" value="@Model.PostId" />
                        <input type="hidden" name="currentPage" value="@ViewContext.RouteData.Values["action"]" />
                        <button type="submit" class="post-details-btn">Like</button>
                    </form>

                <!-- Yorum Ekleme Butonu -->
                <a asp-controller="Comment" asp-action="AddComment" asp-route-id="@Model.PostId"
                class="post-details-btn" style="text-decoration: none;">
                Comment
            </a>


                <a class="update-btn" asp-action="Update" asp-route-id="@Model.PostId" style="text-decoration: none;">
                    Update
                </a>

            </div>
        </div>
    </div>
</a>